@use "./fonts" as fonts;

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @media screen and (max-width: 640px) {
        // justify-content: flex-start;
        align-items: start;
    }
}

.weather {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    &__hero {
        padding: 0 10px;
        height: 300px;
        width: 250px;
        border-radius: 20px;
        background: linear-gradient(90deg, #b2cdb3, #a0cea7, #9ec0db);
        color: #fff;
        text-align: center;
        font-family: fonts.$font;
        h1,
        h2,
        p {
            margin: 0;
        }
        h1 {
            padding-top: 20px;
            font-size: 22px;
        }
        h2 {
            padding-top: 2px;
            font-size: 36px;
        }
        p {
            font-weight: 600;
            padding-top: 5px;
        }
        &__content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
        }
    }
    &__interface {
        display: flex;
        flex-direction: column;
        align-items: center;
        select {
            font-family: fonts.$font;
            font-size: 16px;
            border-radius: 7px;
            margin: 20px 0;
            padding: 7px;
            border: 2px solid #cfecd0;
            &:focus {
                outline: none;
                border: 2px solid #9ec0db;
            }
        }
        &__searching {
            min-width: 270px;
            display: flex;
            justify-content: space-between;
            input {
                font-family: fonts.$font;
                font-size: 16px;
                border-radius: 7px;
                margin: 20px 0;
                padding: 7px;
                border: 2px solid #cfecd0;
                &:focus {
                    outline: none;
                    border: 2px solid #9ec0db;
                }
            }
            input {
                width: 210px;
                font-family: fonts.$font;
                font-size: 20px;
                border-radius: 7px;
                margin: 0 0 20px 0;
                padding: 10px;
                height: 50px;
                border: 2px solid #cfecd0;
                &:focus {
                    outline: none;
                    border: 2px solid #9ec0db;
                }
            }
            button {
                font-size: 20px;
                color: #9ec0db;
                background: transparent;
                margin-bottom: 20px;
                border: none;
                cursor: pointer;
            }
        }
    }
    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        .weather__add,
        .weather__list-clear {
            font-weight: 600;
            font-family: fonts.$font;
            margin-top: 20px;
            height: 50px;
            width: 200px;
            background: transparent;
            border: 2px solid #cfecd0;
            border-radius: 7px;
            cursor: pointer;
        }
        .weather__list-clear {
            font-size: 12px;
            height: 25px;
            width: 120px;
        }
    }
}

.weather-list {
    padding-top: 60px;
    padding-bottom: 40px;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    &__item {
        position: relative;
        font-family: fonts.$font;
        height: 70px;
        width: 175px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #cfecd0;
        border-radius: 7px;
        cursor: pointer;
        h3 {
            font-weight: 600;
            z-index: -1;
        }
        button {
            position: absolute;
            top: 0;
            right: 0;
            background: transparent;
            border: none;
            cursor: pointer;
        }
    }
}

.main {
    // font-family: fonts.$font;
    // display: flex;
    // align-items: flex-start;
    // justify-content: space-between;
    // gap: 150px;
    // @media screen and (max-width: 900px) {
    //     gap: 20px;
    // }
    // @media screen and (max-width: 640px) {
    //     flex-direction: column;
    //     align-items: flex-start;
    //     justify-content: start;
    //     .weather-aside-left {
    //         order: 3;
    //     }
    //     .weather-main {
    //         order: 2;
    //     }
    //     .weather-aside-right {
    //         order: 1;
    //     }
    // }
}
